<div class="container">
  <div class="d-flex align-items-baseline justify-content-between">
    @if (instrumentsList().length)  {
      <mat-form-field appearance="outline" class="w-100 pe-4">
        <mat-select
          [(value)]="selected"
        >
          @for (item of instrumentsList(); track item.id) {
            <mat-option  [value]="item">
              {{ item.description }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    } @else {
      <span>No Data</span>
    }

    <div class="d-flex align-items-center justify-content-center me-3">
      <button
        mat-raised-button
        color="primary"
        [disabled]="!instrumentsList().length"
        (click)="onSelect()"
      >Subscribe</button>
    </div>
  </div>
</div>
